.user-image {
  line-height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.account-name {
  display: none;
  font-size: var(--font-size-s);
}

@media (min-width: 1100px) {
  .account-name {
    display: inline-block;
  }
}
