.link {
  background-color: transparent;
  transition: background-color 0.2s linear;
  word-wrap: break-word;
  white-space: normal;
  padding: 0.25em 0.70em;
  border-radius: 40px;
  color: inherit;
  text-decoration: none;
}


.link:hover {
  background-color: rgba(0,0,0,0.1);
}
