:root {
  --text-s-color: rgb(113, 118, 123);
  --font-size-s: 15px;
  --font-size-b: 31px;
  --font-size-ss: 13px;
  --font-weight-b: 400;
  --line-height-normal: 20px;
  --default-font: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.rounded {
  border-radius: 40px !important;
}

.text-big {
  font-size: var(--font-size-b);
}

.text-bold {
  font-weight: 700;
}
