.tweet-detail {
  font-size: var(--font-size-s);
  font-family: var(--default-font);
}

.user-name {
  font-weight: var(--font-weight-b);
  font-size: inherit;
  font-family: inherit;
}

.user-image {
  line-height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.datetime {
  color: var(--text-s-color);
}

.tweet {
  line-height: var(--font-size-s);
  font-weight: var(--font-weight-b);
  font-size: inherit;
  font-family: inherit;
}

.icon {
  width: 1.25em;
}

.icon-text {
  color: inherit;
  font-family: inherit;
  font-size: var(--font-size-ss);
}

.tweet-infos {
  max-width: 425px;
}
