.icon {
  height: 1.95rem;
}

.twitter-icon {
  height: 2.0rem;
  color: rgb(29, 155, 240);
  line-height: 20px;
}


.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.home-main {
  max-width: 600px;
}
